@model List<frontend_product.Models.ResDataProduct>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 mt-4">List Data </h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4 ">
        <div class="card-header py-3">
            
            <a asp-action="CreateProduct" class="float-end btn btn-success">Add Data</a>
           
            <form asp-controller="Login" asp-action="Logout" method="post" style="display:inline;"
                  onsubmit="return confirm('Yakin ingin logout?');">
                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display: none;">Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Created At</th>
                            <th class="text-center">Action</th>
                            
                        </tr>
                    </thead>
                   
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="display: none;">@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>@item.CreatedAt</td>
                                <td style="display:flex;align-items:center;gap=15px">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary text-center"><i class="fas fa-edit"></i></a>
                                    <form asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-danger text-center">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>

                                </td>

                            </tr>
                        }
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->